@use '../../../../_variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
}

.scoreboard-score {
  margin: 0;
}

button {
  outline: none;
  text-transform: uppercase;
  font-family: vars.$font-stack;
  height: 38px;
  padding: 0 10px;
}

@media (max-width: 600px) {
  button {
    padding: 0 5px;
    font-size: 12px;
  }
}
